<nav class="nav">
  <h1><a routerLink="/" >E-COMM</a></h1>
  <div *ngIf="menuType === 'default'" class="nav-search">
    <input type="text" placeholder="Search for Products" />
    <button>Search</button>
  </div>
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li>
        <a routerLink="">Home</a>
      </li>
      <li>
        <a routerLink="seller-auth">Seller</a>
      </li>
      <li>
        <a routerLink="login">Login</a>
      </li>
      <li>
        <a routerLink="cart">Cart(0)</a>
      </li>
    </ul>
    <ul *ngSwitchCase="'seller'">
      <li>
        <a routerLink="seller-product-list">Product List</a>
      </li>
      <li>
        <a routerLink="seller-add-product">Add Product</a>
      </li>
      <li>
        <a (click)="logOut()">LogOut</a>
      </li>
      <li>
        <a href="#">{{sellerName | titlecase}}</a>
      </li>
    </ul>
  </div>
</nav>
